<div class="popular-albums">
  <h2>Popular songs</h2>
  <div class="popular-allbum">
    <div class="popular-allbum-pic">
      <%= link_to "#" do %>
        <%= image_tag("artists/post4.jpg") %>
      <% end %>
    </div>
    <div class="popular-allbum-info">
      <h3><%= link_to "Take my hand", "#" %></h3>
      <p><strong>Artist:</strong> Nguyen Dang Van,</p>
      <p><strong>Genre:</strong> The wedding song,</p>
      <p><strong>More:</strong> <%= link_to "Donec", "#" %>,<%= link_to "varia", "#" %>,<%= link_to "mauris", "#" %></p>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="popular-allbum">
    <div class="popular-allbum-pic">
      <%= link_to "#" do %>
        <%= image_tag("artists/post5.jpg") %>
      <% end %>
    </div>
    <div class="popular-allbum-info">
      <h3><%= link_to "Lemon", "#" %></h3>
      <p><strong>Arist:</strong> Nguyen Dang Van,</p>
      <p><strong>Genre:</strong> J-Pop,</p>
      <p><strong>More:</strong> <%= link_to "Donec", "#" %>,<%= link_to "varia", "#" %>,<%= link_to "mauris", "#" %></p>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="popular-allbum">
    <div class="popular-allbum-pic">
      <%= link_to "#" do %>
        <%= image_tag("artists/post5.jpg") %>
      <% end %>
    </div>
    <div class="popular-allbum-info">
      <h3><%= link_to "～君がくれたもの～ ", "#" %></h3>
      <p><strong>Arist:</strong> Secret Base,</p>
      <p><strong>Genre:</strong> J-Pop,</p>
      <p><strong>More:</strong> <%= link_to "Donec", "#" %>,<%= link_to "varia", "#" %>,<%= link_to "mauris", "#" %></p>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
