<div class="popular-albums">
  <h2>Popular albums</h2>
  <div class="popular-allbum">
    <div class="popular-allbum-pic">
      <%= link_to "#" do %>
        <%= image_tag("artists/post3.jpg") %>
      <% end %>
    </div>
    <div class="popular-allbum-info">
      <h3><%= link_to "New Album", "#" %></h3>
      <p><strong>Release Date:</strong> Nov 02, 2018,</p>
      <p><strong>Country:</strong> UK,</p>
      <p><strong>casting:</strong> <%= link_to "Donec", "#" %>,<%= link_to "varia", "#" %>,<%= link_to "mauris", "#" %></p>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="popular-allbum">
    <div class="popular-allbum-pic">
      <%= link_to "#" do %>
        <%= image_tag("artists/post2.jpg") %>
      <% end %>
    </div>
    <div class="popular-allbum-info">
      <h3><%= link_to "New Album", "#" %></h3>
      <p><strong>Release Date:</strong> Nov 02, 2018,</p>
      <p><strong>Country:</strong> UK,</p>
      <p><strong>casting:</strong> <%= link_to "Donec", "#" %>,<%= link_to "varia", "#" %>,<%= link_to "mauris", "#" %></p>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="popular-allbum">
    <div class="popular-allbum-pic">
      <%= link_to "#" do %>
        <%= image_tag("artists/post1.jpg") %>
      <% end %>
    </div>
    <div class="popular-allbum-info">
      <h3><%= link_to "New Album", "#" %></h3>
      <p><strong>Release Date:</strong> Nov 02, 2018,</p>
      <p><strong>Country:</strong> UK,</p>
      <p><strong>casting:</strong> <%= link_to "Donec", "#" %>,<%= link_to "varia", "#" %>,<%= link_to "mauris", "#" %></p>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
