<% if !logged_in? %>
  <%= render "layouts/banner" %>
<% end %>
  <%= render "searchindex" %>
  <div class="content">
    <div class="container">
      <div class="col-md-8 content-left">
        <% @artists.each do |artist| %>
        <div class="artical">
          <div class="col-md-4 artical-left">
            <%= link_to image_tag("artists/post6.jpg"), details_path(id: artist.id)%>
          </div>
          <div class="col-md-8 artical-right">
            <div class="artical-head">
              <h2><%= link_to artist.name, details_path(id: artist.id) %></h2>
              <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
            <div class="artical-info">
              <p><strong>Name:</strong><%= artist.name %></p>
              <p><strong>Genre:</strong><%= artist.name %></p>
              <p><strong>Country:</strong>US</p>
              <p><strong>Info:</strong><%= artist.info %></p>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
        <% end %>
        <div class="clearfix"> </div>
        <div><%= paginate @artists, theme: "twitter-bootstrap-3" %></div>
      </div>
      <div class="col-md-4 content-right">
        <div class="recent-add">
          <div class="sreen-gallery-cursual">
              <div id="owl-demo" class="owl-carousel text-center">
                <div class="item">
                  <%= image_tag("artists/post3.jpg") %>
                </div>
                <div class="item">
                  <%= image_tag("artists/post5.jpg") %>
                </div>
                <div class="item">
                  <%= image_tag("artists/post6.jpg") %>
                </div>
              </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      <!-- popular-allbums -->
      <%= render "popular_album" %>
      </div>
    </div>
  </div>
</div>
