   <% if logged_in? %>
      <div>Your favorite</div>
    <% else %>
    <div class="banner">
      <!-- slider -->
        <!--- img-slider --->
        <div class="img-slider">
          <!-- Slideshow 4 -->
              <div  id="top" class="callbacks_container">
                <ul class="rslides" id="slider4">
                  <li>
                    <%= image_tag("slide1.jpg") %>
                    <div class="slider-caption">
                      <div class="slider-caption-inner">
                         <h1>music<span>Z</span></h1>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin lectus in quam elementum aliquet. Quisque gravida fringilla velit nec ornare. </p>
                       <%= link_to "Sign Up",signup_path, class: "caption-btn" %>
                     </div>
                    </div>
                  </li>
                  <li>
                    <%= image_tag("slide3.jpg") %>
                     <div class="slider-caption">
                       <div class="slider-caption-inner">
                         <h1>music<span>Z</span></h1>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin lectus in quam elementum aliquet. Quisque gravida fringilla velit nec ornare. </p>
                       <%= link_to "Sign Up","#", class: "caption-btn" %>
                     </div>
                    </div>
                  </li>
                  <li>
                    <%= image_tag("slide1.jpg") %>
                     <div class="slider-caption">
                     <div class="slider-caption-inner">
                         <h1>music<span>Z</span></h1>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin lectus in quam elementum aliquet. Quisque gravida fringilla velit nec ornare. </p>
                       <%= link_to "Sign Up","#", class: "caption-btn" %>
                     </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="clearfix"> </div>
          </div>
            <!-- slider -->
    </div>
    <!-- banner -->
    <% end %>
    <%= render "layouts/searchmenu" %>
    <!-- content -->
    <div class="content">
      <div class="container">
      <!-- content-left -->
      <div class="col-md-8 content-left">
        <div class="artical">
          <div class="col-md-4 artical-left">
            <%= link_to image_tag("artists/edsheeran.jpg"), details_path(id: 1)%>
          </div>
          <div class="col-md-8 artical-right">
            <div class="artical-head">
              <h2><%= link_to "Ed Sheeran", details_path(id: 1) %></h2>
              <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
            <!-- artical-info -->
            <div class="artical-info">
              <p><strong>Alnum:</strong>Lorem</p>
              <p><strong>Song:</strong>Lorem</p>
              <p><strong>Info:</strong>Lorem</p>
            </div>
            <!-- artical-info -->
          </div>
          <div class="clearfix"> </div>
        </div>
        <!-- artical-end -->
        <div class="artical"> <!-- onclick="location.href='details.html';"  -->
          <div class="col-md-4 artical-left">
            <%= link_to image_tag("artists/adam.jpg"), details_path(id: 2)%>
          </div>
          <div class="col-md-8 artical-right">
            <div class="artical-head">
              <h2><%= link_to "Adam", details_path(id: 2) %></h2>
              <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
            <!-- artical-info -->
            <div class="artical-info">
              <p><strong>Alnum:</strong>Lorem</p>
              <p><strong>Song:</strong>Lorem</p>
              <p><strong>Info:</strong>Lorem</p>
            </div>
            <!-- artical-info -->
          </div>
          <div class="clearfix"> </div>
        </div>
        <!-- artical-end -->
        <div class="clearfix"> </div>
        <!-- pagenate -->

        <!-- pagenate -->
      </div>
      <!-- content-left -->
      <!-- content-right -->
      <div class="col-md-4 content-right">
        <div class="recent-add">
          <!----sreen-gallery-cursual---->
            <div class="sreen-gallery-cursual">
               <!-- start content_slider -->
                   <div id="owl-demo" class="owl-carousel text-center">
                          <div class="item">
                            <%= image_tag("artists/post3.jpg") %>
                          </div>
                          <div class="item">
                            <%= image_tag("artists/post5.jpg") %>
                          </div>
                          <div class="item">
                            <%= image_tag("artists/post6.jpg") %>
                          </div>
                      </div>
            <!--//sreen-gallery-cursual---->
        </div>
      </div>
      <div class="clearfix"> </div>
      </div>
    </div>
    </div>
