   <% if logged_in? %>
      <div>Your favorite</div>
    <% else %>
    <div class="banner">
      <!-- slider -->
        <!--- img-slider --->
        <div class="img-slider">
          <!-- Slideshow 4 -->
              <div  id="top" class="callbacks_container">
                <ul class="rslides" id="slider4">
                  <li>
                    <%= image_tag("slide1.jpg") %>
                    <div class="slider-caption">
                      <div class="slider-caption-inner">
                         <h1>music<strong class="new-point">Z</strong></h1>
                       <p>Life is Beautiful </p>
                       <%= link_to "Sign Up", signup_path, class: "caption-btn" %>
                     </div>
                    </div>
                  </li>
                  <li>
                    <%= image_tag("slide3.jpg") %>
                     <div class="slider-caption">
                       <div class="slider-caption-inner">
                         <h1>music<strong class="new-point">Z</strong></h1>
                       <p>Take my hand </p>
                       <%= link_to "Sign Up", signup_path, class: "caption-btn" %>
                     </div>
                    </div>
                  </li>
                  <li>
                    <%= image_tag("slide1.jpg") %>
                     <div class="slider-caption">
                     <div class="slider-caption-inner">
                         <h1>music<strong class="new-point">Z</strong></h1>
                       <p>Music make your life is more greater. </p>
                       <%= link_to "Sign Up", signup_path, class: "caption-btn" %>
                     </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="clearfix"> </div>
          </div>
            <!-- slider -->
    </div>
    <!-- banner -->
    <% end %>
    <%= render "albums/searchalbum" %>
    <!-- content -->
    <div class="content">
      <div class="container">
      <!-- content-left -->
      <div class="col-md-8 content-left">
        <%= @artists.each do |artist| %>
        <div class="artical">
          <div class="col-md-4 artical-left">
            <%= link_to image_tag("artists/post6.jpg"), details_path(id: artist.id)%>
          </div>
          <div class="col-md-8 artical-right">
            <div class="artical-head">
              <h2><%= link_to artist.name, details_path(id: artist.id) %></h2>
              <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
            <!-- artical-info -->
            <div class="artical-info">
              <p><strong>Name:</strong><%= artist.name %></p>
              <p><strong>Info:</strong><%= artist.info %></p>
            </div>
            <!-- artical-info -->
          </div>
          <div class="clearfix"> </div>
        </div>
        <% end %>
        <!-- artical-end -->
        <div class="clearfix"> </div>
        <!-- pagenate -->
        <div><%= paginate @artists, theme: "twitter-bootstrap-3" %></div>
        <!-- pagenate -->
      </div>
      <!-- content-left -->
      <!-- content-right -->
      <div class="col-md-4 content-right">
        <div class="recent-add">
          <!----sreen-gallery-cursual---->
            <div class="sreen-gallery-cursual">
               <!-- start content_slider -->
                   <div id="owl-demo" class="owl-carousel text-center">
                          <div class="item">
                            <%= image_tag("artists/post3.jpg") %>
                          </div>
                          <div class="item">
                            <%= image_tag("artists/post5.jpg") %>
                          </div>
                          <div class="item">
                            <%= image_tag("artists/post6.jpg") %>
                          </div>
                      </div>
            <!--//sreen-gallery-cursual---->
        </div>
      </div>
      <div class="clearfix"> </div>
      </div>
    </div>
    </div>
