<div class="card mb-3 my-table" style="width: 100%;">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Data Albums
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Category</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @albums.each do |album| %>
            <tr>
              <td><%= album.title %></td>
              <td><%= album.artist.name %></td>
              <td><%= album.category.name %></td>
              <td class="td-descrip"><%= album.description %></td>
              <td><%= link_to "Edit", edit_album_path(album), id: "edit" %></td>
              <td><%= link_to "Delete", album, method: :delete, data: {confirm: "Delete album?"}, id: "delete" %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
<%= paginate @albums, theme: "twitter-bootstrap-3" %>
<%= link_to "New album", new_album_path, class: "btn btn-primary", id: "new" %>
<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
