<% provide :title, @artist.name %>
<div class="header top-header">
    <div class="container">
    </div>
    <!-- content -->
    <%= render "layouts/allartists" %>
    <div class="content">
      <div class="container">
      <!-- content-left -->
      <div class="col-md-8 content-left">
        <!-- artical-single-page -->
        <div class="artical-details">
          <h2><%= link_to @artist.name %></h2>
          <!-- artical-details-info -->
          <div class="artical-details-info">
            <div class="artical-details-info-left">
                <%= image_tag("artists/post6.jpg") %>
            </div>
            <div class="artical-details-info-right">
              <p><strong>Name:</strong><%= @artist.name %>,</p>
              <div class="dicription">
                <p><strong>Info :</strong><%= @artist.info %></p>
              </div>
              <%= link_to "all songs", artist_songs_path(@artist), class: "download" %>
              <p></p>
              <% if logged_in? && current_user.admin? %>
                <%= link_to "delete", @artist, method: :delete, class: "download", data: { confirm: "You sure?" } %>
                <p></p>
                <%= link_to "new", new_artist_path, class: "download" %>
              <% end %>
            </div>
            <div class="clearfix"> </div>
          </div>
          <!-- artical-details-info -->
        </div>
        <!-- related-articals -->
        <!-- artical-single-page -->
        <div class="clearfix"> </div>
      </div>
      <!-- content-left -->
      <!-- content-right -->
      <div class="col-md-4 content-right">
        <div class="recent-add">
          <!----sreen-gallery-cursual---->
            <div class="sreen-gallery-cursual">
               <!-- requried-jsfiles-for owl -->
              <link href="css/owl.carousel.css" rel="stylesheet">
                  <script src="js/owl.carousel.js"></script>
                      <script>
                  $(document).ready(function() {
                    $("#owl-demo").owlCarousel({
                      items : 1,
                      lazyLoad : true,
                      autoPlay : true,
                      navigation : true,
                      navigationText :  false,
                      pagination : true,
                    });
                  });
                  </script>
               <!-- //requried-jsfiles-for owl -->
               <!-- start content_slider -->
                   <div id="owl-demo" class="owl-carousel text-center">
                          <div class="item">
                            <%= image_tag("artists/post1.jpg", class: "lazyOwl") %>
                          </div>
                          <div class="item">
                            <%= image_tag("artists/post5.jpg", class: "lazyOwl") %>
                          </div>
                          <div class="item">
                            <%= image_tag("artists/post6.jpg", class: "lazyOwl") %>
                          </div>
                      </div>
            <!--//sreen-gallery-cursual---->
        </div>
      </div>
      <div class="clearfix"> </div>
      <!-- popular-allbums -->

      <!-- popular-allbums -->
      <!-- content-right -->
      </div>
    </div>
    </div>
    <!-- content -->
