<div class="card mb-3 my-table" style="width: 100%;">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Data Songs
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Album</th>
            <th>Artist</th>
            <th>Category</th>
            <th>Lyric</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @songs.each do |song| %>
            <tr>
              <td><%= song.name %></td>
              <td><%= song.album.title %></td>
              <td><%= song.album.artist.name %></td>
              <td><%= song.album.category.name %></td>
              <td class="td-descrip" style="width: 60%;">
                <% @lyrics.each do |lyric| %>
                  <% if song.id == lyric.song_id %>
                    <%= lyric.content %>
                    <div class="btn btn-basic" style="float: right; margin: 0 2px;">
                      <%= link_to "Remove", admin_song_lyric_path(song.id, lyric.id), method: :delete, data: {confirm: "Remove this lyric?"} %>
                    </div>
                    <hr>
                  <% end %>
                <% end %>
                <div class="btn btn-basic" style="float: right">
                  <%= link_to "Add", new_song_lyric_path(song.id) %>
                </div>
              </td>
              <td><%= link_to "Edit", edit_song_path(song) %></td>
              <td><%= link_to "Delete", song, method: :delete, data: {confirm: "Delete song?"} %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
<%= paginate @songs, theme: "twitter-bootstrap-3" %>
<%= link_to "Upload song", new_song_path, class: "btn btn-primary" %>
<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
