<div class="card mb-3 my-table" style="width: 100%;">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Data Songs
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div id="dataTable_filter" class="dataTables_filter">
              <label>
                <%= search_form_for [:admin, @q] do |f| %>
                  <%= f.search_field :name_or_album_title_cont, class: "form-control form-control-sm", placeholder: "Search ..."%>
                <% end %>
              </label>
            </div>
          </div>
        </div>
        <thead>
          <tr>
            <th><%= sort_link(@q, :name) do %>Song<% end %></th>
            <th><%= sort_link(@q, :album_title) do %>Album<% end %></th>
            <th><%= sort_link(@q, :album_artist_name) do %>Artist Name<% end %></th>
            <th><%= sort_link(@q, :album_category_name) do %>Category<% end %></th>
            <th><%= link_to "Lyrics" %></th>
            <th><%= link_to "Edit" %></th>
            <th><%= link_to "Delete" %></th>
          </tr>
        </thead>
        <tbody>
          <% @songs.each do |song| %>
            <tr>
              <td><%= song.name %></td>
              <td><%= song.album.title %></td>
              <td><%= song.album.artist.name %></td>
              <td><%= song.album.category.name %></td>
              <td>
                <% @lyrics.each do |lyric| %>
                  <% if song.id == lyric.song_id %>
                    <%= lyric.content %>
                    <%= link_to "Remove", admin_song_lyric_path(song.id, lyric.id), method: :delete, style: "float: right;", data: {confirm: "Remove this lyric?"} %>
                    <hr>
                  <% end %>
                <% end %>
                <div class="btn btn-basic" style="float: right">
                  <%= link_to "Add", new_song_lyric_path(song.id) %>
                </div>
              </td>
              <td><%= link_to "Edit", edit_song_path(song) %></td>
              <td><%= link_to "Delete", song, method: :delete, data: {confirm: "Delete song?"} %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
<%= paginate @songs, theme: "twitter-bootstrap-3" %>
<%= link_to "Upload song", new_song_path, class: "btn btn-primary" %>
<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
