<div class="card mb-3 my-table" style="width: 100%;">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Data Users
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
          <th>Artist Name</th>
          <th>Info</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
          <% @artists.each do |artist| %>
          <tr>
            <td><%= artist.name %></td>
            <td class="td-info"><%= artist.info %></td>
            <td><%= link_to "Edit", edit_artist_path(artist) %></td>
            <td><%= link_to "Delete", artist, method: :delete, data: {confirm: "Delete artist?"} %></td>
          </tr>
        <% end %>
        </tbody>
    </table>
  </div>
</div>
<%= paginate @artists, remote: true, theme: "twitter-bootstrap-3" %>
<%= link_to "New artist", new_artist_path, class: "btn btn-primary" %>
<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
