<li>
  <%= gravatar_for user, size: 50 %>
  <div class="info-user">
    <p>Name: <%= link_to user.name, user %></p>
    <p>Email: <%= user.email %></p>
    <p>Age: <%= user.age %></p>
  </div>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "edit", edit_user_path(user.id), class: "update-user" %>
    <%= link_to "delete", user, class: "update-user", method: :delete, data: {confirm: "You sure?"} %>
  <% end %>
</li>
