<% provide :title, @title %>
  <h2><strong><%= @title %></strong></h2>
  There are <%= @user.favorite_songs.count %> songs in your favourite
  <ul class="users" style="width: 60%; float: left;">
    <% if @user_songs.any? %>
      <% @user_songs.each do |user_songs| %>
        <%= render user_songs %>
      <% end %>
    <% end %>
    <%= paginate @user_songs %>
  </ul>
  <div style="float: right; width: 40%;">
  <%= render "static_pages/popular_song" %>
</div>

