<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @user %>
    </section>
    <div class="name"><%= @user.name %></div>
  </aside>
  <div class="col-md-8 new-playlist">
    <% if current_user? @user %>
      <%= link_to new_user_playlist_path(params[:id]) do %>
        <%= image_tag "icon/add-playlist.png", size: "30x30" %>
        <span>New playlist</span>
      <% end %>
    <% end %>
    <% if @user.playlists.any? %>
      <h3>Playlists (<%= @user.playlists.count %>)</h3>
      <ol class="play_lists">
        <%= render @playlists %>
      </ol>
      <%= paginate @playlists, theme: "twitter-bootstrap-3" %>
    <% else %>
      <h4> No playlists </h4>
    <% end %>
  </div>
</div>
