<li>
  <div class="info-user">
    <p><strong>Name:</strong> <strong class="name-song"><%= link_to song.name, song %></strong></p>
    <p><strong>Album:</strong> <%= link_to song.album.title, "#" %></p>
    <p><strong>Artist:</strong> <%= link_to song.album.artist.name, "#" %></p>
    <p><strong>Cateogry:</strong> <%= link_to song.album.category.name, "#" %></p>
  </div>
  <strong><%= link_to "play", song, class: "play-song" %></strong>
</li>
