<li class="song-in-index">
  <div>
    <div class="info-user">
      <p><strong class="name-song"><%= link_to song.name, song %></strong></p>
      <p><%= link_to song.album.title, "#" %></p>
    </div>
    <div>
      <span class="count-listen-song">
        <%= image_tag "icon/headphones -gray.png", size: "20x20" %>
        <%= song.impressionist_count %>
      </span>
      <%= link_to song, class: "play-song" do %>
        <%= image_tag "icon/play.png", size: "35x35" %>
      <% end %>
      <%= link_to song_download_path(song), class: "download-song", target: :_blank do %>
        <%= image_tag "icon/download.png", size: "25x25"%>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</li>
