<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@song) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label :album %>
    <%= f.select :album_id, options_from_collection_for_select(Album.all, :id, :title) %>
    <%= f.fields_for :lyrics do |builder| %>
      <%= builder.label :content, "Content's lyric" %>
      <%= builder.text_area :content, class: "form-control" %>
    <% end %>
    <span class="audio">
      <%= f.file_field :audio %>
    </span>
    <%= f.submit "Upload", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
