<% content_for :javascript_includes do %>
  <%= javascript_include_tag "autoNextSong.js" %>
<% end %>
<div class="row">
  <div class="col-md-7 player">
    <h1><b><%= @song.name %></b> - <%= @song.album.artist.name %></h1>
    <h5> Upload at <%= time_ago_in_words(@song.updated_at) %> ago.</h5>
    <div>
      <%= audio_tag @song.audio, class: "audio-play-song", controls: "true", loop: "true" %>
    </div>
    <div class="count-listen">
      <%= image_tag "icon/headphone.png", size: "35x35" %>
      <%= @song.impressionist_count(filter: :id) %>
      <%= social_share_button_tag(@song.name, :allow_sites => %w(twitter), :'data-source' => "http://localhost:3000/songs/1") %>
    </div>
    <div class="clearfix"></div>
    <div class="download">
      <%= link_to song_download_path(@song), target: :_blank do %>
      <%= image_tag "icon/download.png", size: "20x20"%>
      Download
      <% end %>
      <span class="count-download">Downloaded:
        <%= @song.impressions_count %>
      </span>
    </div>
  <% if logged_in?  %>
    <% if current_user.playlists.empty? %>
      <p> You have no playlist </p>
      <%= link_to new_user_playlist_path(current_user.id) do %>
      <%= image_tag "icon/add-playlist.png", size: "25x25" %>
        <span>New playlist</span>
    <% end %>
    <% else %>
      <div>
        <p class="add-to-pls">
          <%= image_tag "icon/add-song.png", size: "20x20" %>
          Add to my playlist
        </p>
        <ul class="list-pls">
          <%= render "playlist_form" %>
        </ul>
      </div>
    <% end %>
  <% end %>
  <%= render "favorite_form" if logged_in? %>
    <h3> Lyrics: </h3>
    <% @lyrics.each do |lyric| %>
      <% if lyric.song_id == @song.id %>
        <span class="lyric">
          <%= lyric.content.split("<br />")[0..4].join("<br />").html_safe %>
        </span>
        <br>
        <span class="hide-lyric">
          <%= lyric.content.split("<br />")[5..-1].join("<br />").html_safe %>
        </span>
        <div class="btn-hide">Click to hide</div>
        <% unless lyric.content[241..-1].nil? %>
          <p class="show-lyric">Click to show more</p>
        <% end %>
      <% end %>
    <% end %>
    <% if @song.lyrics.count == 0 %>
      <div class="lyric">Lyric has not been updated yet</div>
    <% end %>
    <!-- comment -->
    <div class="cmt"><span class="show-cmt">Comments:</span>
      <!-- create comment -->
      <% if logged_in? %>
        </br>
        <%= form_for @comment do |f| %>
          <div class="field">
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :parent_id, value: @comment.id %>
            <%= f.hidden_field :commentable_id, value: params[:id] %>
            <%= f.hidden_field :commentable_type, value: @song.class.name %>
            <%= f.text_area :body, placeholder: "Compose new comment...", class: "form-control" %>
          </div>
          <%= f.submit "Comment", class: "btn-cmt" %>
        <% end %>
      <% end %>
        <!-- view comment -->
        <ul class="parent-list-cmt">
          <%= comments_tree_for @comment5 %>
        </ul>
        <% unless (@comment6_to_last.nil?) %>
          <p class="show-cmt"> More ... </p>
          <ul class="hide-cmt">
            <%= comments_tree_for @comment6_to_last %>
          </ul>
        <% end %>
    </div>
  </div>
  <div class="col-md-3 charts">
    <div>
      Maybe you like:
      <span class="autonext">Autonext</span>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round btn-autonext"></span>
      </label>

      <ul class="suggest">
        <% @suggest_song.select do |k,v|  %>
          <% if k.id != @song.id %>
          <%= link_to song_path(k.id) do %>
            <li class="song-suggest">
              <%= image_tag "icon/play.png", size: "25x25" %>
              <b><%= k.name %></b>
              <br><span class="song-suggest-artist"><%= k.album.artist.name %></span>
              <span></span>
              <span class="song-suggest-count">
                <%= image_tag "icon/headphones -gray.png", size: "20x20" %>
                <%= k.impressionist_count %></span>
            </li>
          <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
    <%= render "layouts/chart" %>
  </div>
</div>
