<li >
  <%= link_to image_tag("artists/adam.jpg", size: "100x100"), album.category %>
  <p class="user"><strong>Title:</strong> <%= link_to album.title, album %></p>
  <p class="user"><strong>Categoty:</strong> <%= link_to album.category.name, album.category %></p>
  <p class="user"><strong>Artist:</strong> <%= link_to album.artist.name, album.artist %></p>
  <p class="content" style="height: 100px;"><strong>Description:</strong> <%= album.description %></p>
</li>
