<div class="album-grid">
  <div class="album-grid-pic">
    <%= image_tag("artists/post2.jpg") %>
  </div>
  <div class="album-grid-info">
    <p><strong>Title:</strong> <%= album.title %> </p>
    <p><strong>Artist:</strong> <%= album.artist.name %> </p>
    <p><strong>Category:</strong> <%= album.category.name %> </p>
    <p><strong>Description:</strong> <%= album.description %> </p>
    <%= link_to "Play album", song_album_path(album), class: "download-album" %>
  </div>
</div>
