<% provide :title, "Album" %>
<% provide :button_text, "create your album" %>
<center><h1>Album</h1></center>
<div class="row">
    <div class="col-md-7 col-md-offset-1 new-items"  >
    <%= form_for @album do |f| %>
    <%= render "shared/error_messages_album" %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :artist %>
      <%= f.select :artist_id, options_from_collection_for_select(Artist.all, :id, :name) %>
      <%= f.label :category %>
      <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name) %>
      <%= f.label :description %>
      <%= f.text_area :description %>
      <%= f.submit yield(:button_text) , class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
