<div class="card mb-3 my-table" style="width: 100%;">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Data Users
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Created at</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.age %></td>
            <td><%= user.created_at %></td>
            <td><%= link_to "Edit", edit_user_path(user.id) %></td>
            <td><%= link_to "Delete", user, method: :delete, data: {confirm: "Delete user?"} %></td>
          </tr>
        <% end %>
        </tbody>
    </table>
  </div>
</div>
<%= paginate @users, theme: "twitter-bootstrap-3" %>
<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
