<%= provide :title, "Users" %>
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Data Table Users
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div id="dataTable_filter" class="dataTables_filter">
              <label>
                <%= search_form_for [:admin, @q] do |f| %>
                  <%= f.search_field :name_or_age_cont, class: "form-control form-control-sm", placeholder: "Search ..."%>
                <% end %>
              </label>
            </div>
          </div>
        </div>
        <thead>
          <tr>
            <th><%= sort_link(@q, :name) do %>User Name<% end %></th>
            <th><%= sort_link(@q, :email) do %>Email<% end %></th>
            <th><%= sort_link(@q, :age) do %>Age<% end %></th>
            <th><%= sort_link(@q, :created_at) do %>Created at<% end %></th>
            <th><%= link_to "Edit" %></th>
            <th><%= link_to "Delete" %></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.age %></td>
            <td><%= user.created_at %></td>
            <td><%= link_to "Edit", edit_user_path(user.id) %></td>
            <td>
              <%= link_to "Delele", user_path(user), method: :delete, data: {confirm: "Delete user?"} %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @users, theme: "twitter-bootstrap-3" %>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<p class="small text-center text-muted my-5">
  <em>More table examples coming soon...</em>
</p>
