<ul class="sidebar navbar-nav">
  <li class="nav-item active">
    <%= link_to admin_root_path, class: "nav-link" do %>
    <i class="fas fa-fw fa-tachometer-alt"></i>
    <span>&nbsp;Dashboard</span>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_charts_path, :class=> "nav-link" do %>
      <i class="fas fa-fw fa-chart-area"></i>
      <span>&nbsp;Charts</span>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_songs_path, :class=> "nav-link" do %>
      <i class="fas fa-music"></i>
      <span>&nbsp;&nbsp;Songs ( <%= @total_songs %> )</span>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_albums_path, :class=> "nav-link" do %>
      <i class="fas fa-fw fa-list"></i>
      <span>&nbsp;Albums ( <%= @total_albums %> )</span>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_artists_path, :class=> "nav-link" do %>
      &nbsp;<i class="fas fa-microphone"></i>
      <span>&nbsp;&nbsp;Artist ( <%= @total_artists %> )</span>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_users_path, :class=> "nav-link" do %>
      <i class="fas fa-user-alt"></i>
      <span>&nbsp;&nbsp;Users ( <%= @total_users %> )</span>
    <% end %>
  </li>
</ul>
